:root {
    --color-oro: #FFD700;
    --color-miel: #FFC30B;
    --color-verde: #8BBA8B;
    --color-marrón: #8B4513;
    --color-negro: #000000;
    --color-blanco: #FFFFFF;
    --color-azul-cielo: #87CEEB;
    --color-naranja: #FF7518;
    --color-marrón-claro: #D2B48C;
  }
body{
    font-family: sans-serif;
    background-color: var(--color-blanco);
}
header{
    background-color: var(--color-oro);
    color:var(--color-negro)
}