body {
    font-family: Arial, sans-serif; /* Establece la fuente */
   
}

h1{
    color: #853c00;
    font-size: 78px !important;
    font-weight: 750;
    font-family: sans-serif;
    text-align: center;
    margin: 0 !important;
    padding-top:20px ;

}
@media (max-width: 600px) {
    h1{
        font-size:300% !important; 
    }
    span{
        margin-left: 5rem;
    }
    .logoapicolas{
        position: absolute;
        top: 58px;
        left:6% ;
    }
    .logoapicolas > img{
        width: max(6rem, 18vw);
        aspect-ratio: 20 / 20;
    }
    /* .nav{
        display: block !important;
        text-align: center;
    }
    .nav > a{
        margin: 10px 30px;
    } */
  }
  
@media (min-width: 601px) and (max-width: 1024px) {
    .h1{
        font-size: 700% !important;
    } }




@media (max-width:768px){




    
}
header{
    /* background: radial-gradient(circle at center, #fef486, #ffcba6); */
    height: 600px;
    display: flexbox;
}
header img{
    width: 20em;
}
.logoapicolas{
    display: flex;
    justify-content: center;
}
.ilderflotante {
    position: absolute;
    right: 5%; /* Posiciona desde la derecha */
    top: 45%; /* Posiciona desde la parte superior */
}

.ilderflotante img {
    width: 450px;
}
.nav{
    background:linear-gradient(to top, #ff984f, #f9d418);
    padding: 2rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap:20rem;
    margin: 2rem;
}
nav a{
    color: #853c00;
    text-decoration: none;
    font-size: 2.5rem;  
    font-weight: 700;  
}
.sectionContacto{
    background:linear-gradient(to top, #fad672, #f39154);
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -320px;
    border-radius: 20px;
    border:solid black;    
    width: 300px;
}
.sectionContacto img{
    width: 90%;
    margin: 0 auto;
}
.niv{
    margin-top: 20px;
}
.maincontact{
    display: flex;
    gap: 1px;
}
.containerproducto{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;

}
.product{
    background: #fffbe7;
    border: 3px solid #e0c080;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.imgproduct{
    width: 300px;
    height: 400px; 
}
.headerproductos{
    height: 300px;
}
.product:hover {
    transform: translateY(-10px) scale(1.03); /* Eleva y agranda la tarjeta */
    box-shadow: 0 8px 24px rgba(0,0,0,0.18);  /* Sombra más grande */
}

footer{
     margin-top: 50px;
     background:linear-gradient(to top, #ff984f, #f9d418);
     padding: 90px;
      
}

